
*.targets
*.props
*.cache
obj/project.assets.json
obj/Debug/netcoreapp2.2/TextAdventure.pdb
obj/Debug/netcoreapp2.2/TextAdventure.dll
obj/Debug/netcoreapp2.2/TextAdventure.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/TextAdventure.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/TextAdventure.assets.cache
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.2/project.razor.json
*.json
bin/Debug/netcoreapp2.2/TextAdventure.pdb
bin/Debug/netcoreapp2.2/TextAdventure.dll
bin/Debug/netcoreapp2.2/TextAdventure.deps.json
TextAdventure.csproj
bin/Debug/netcoreapp2.2/TextAdventure.deps.json
bin/
obj/
TextAdventure.csproj
obj/Debug/netcoreapp2.2/TextAdventure.assets.cache
**bin/
**obj/
obj/Debug/netcoreapp2.2/TextAdventure.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/TextAdventure.csproj.CoreCompileInputs.cache
obj/TextAdventure.csproj.nuget.cache
obj/TextAdventure.csproj.nuget.g.props
